/* Regole generali */
.btn-primary {
    background-color: #006aff;
    color: white;
    font-weight: bold;
}
.btn-secondary {
    background-color: transparent ;
    color: #006aff;
    font-weight: bold;
}


/* Inizio Navbar */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#navbar-top {
    min-height: 40px ;
    display:none;


}
#navbar-top .navbar-header{
    height: 100%;
    line-height: 40px;

}
#navbar-top ul{
    height: 100%;
    line-height: 40px;
    color: #5b6987 ;

}

#navbar-top a {
    height: 100%;
    line-height: 100%;
    color: #5b6987;
}

.btn-custom {
    background-color: rgb(0,215,210);
}
#navbar-bottom {
    height: 70px;

}
#navbar-bottom a {
    height: 100%;
}
.navbar-brand img {
    max-width: 200px;
	height: 70%;
	margin: auto 10px;
}
.navbar-default .navbar-nav > li > a {
    height: 100%;
    line-height: 35px;
    color: hsl(221,93%,16%) !important;
}
.navbar-default .navbar-nav > a > span {
    width: 80px;
    height: 80%;
    line-height: 35px;

}
    /* Fine sezione "navbar"   */

    /* inizio jumbotron */

#jumbotron {
    padding-top: 110px;
    padding-bottom: 40px;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-size: cover;
    background-position: bottom;

}
#jumbotron-welcome-text {
    color: white;
    height: 70%;
    margin: auto;
}


/*  Form sezione "jumbotron" */
#sign-up {
    /* height: 200px; */
    margin-top: 30px;
    border-radius: 5px;
    background: white;
}
#sign-up #sign-up-header {
    height: 40px ;
    background-color: #f3f5f9;
    border-radius: 5px;
}
#sign-up-content {
    padding: 20px;
    border-bottom: 1px solid #f3f5f9;
}
#sign-up .input-group {
    width: 100%;
    margin: 5px;
}
#sign-up .btn-lg {
    width: 100%;
    margin-top: 5px;

}
#sign-up h5 {
    height: 100%;
    line-height: 40px;
    font-size: 20px;
}
#sign-up-footer {
    padding: 20px;
    padding-bottom: 70px;
    width: 100%;
}
#sign-up-footer > .btn.btn-lg {
    width: calc(100% - 52px );
}
#sign-up-footer > span.btn-lg{
    float: left;
    display: block;
    margin: 0;
    border: 1px solid #006aff;
    font-size: 16px;
}
#sign-up-footer > #github-icon {
    float: left;
    display: block;

    width: 10%;
    text-align: center;
    padding: 10px 25px;
    border: 1px solid #006aff;
}
#sign-up-footer > #github-icon > img {
    object-position: center;
    transform: translateX(-50%);
    width: 20px;



}

/* Fine form sezione "jumbotron" */

/* Sezione customers */

    #customers {
    background-color: #f3f5f9;
    padding: 30px;
}
    #customers img {
    display: block;
    margin: 0 auto;
}
    #customers h6 {
    padding: 20px;
}
    #customers a {
    display: inline-block;
    width: 100%;
    color: #0069ff;
    font-size: 20px;
}
    #features {
    height: 400px;
}
    #features ul {

    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #5b6987 ;
}
    #features p {
    color: #5b6987;
}
    #features li {
    display: inline-block;
    color: #5b6987;
    padding: 10px;
}
    #features .box {
    padding: 20px;
}
    #features img {
    display: block;
    margin: 0 auto;
}
.card {}
/* sezione carousel  */

#carousel {
    padding: 20px;
}
#carousel p {
    padding: 20px;
}
#carousel img {
    display: block;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
#carousel .img-carousel::before {
    content: '\f060' ;
    font-family: "font Awesome 5 Free";
    font: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
#carousel .img-carousel::after {
    content: '\f061' ;
    font-family: "font Awesome 5 Free";
    font: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0%;
}
#carousel ul {
    list-style-type: none;
    text-align: center;
}
#carousel li {
    display: inline-block;
    color: #006aff;
}
/* Sezione build-for-business  */

/* Fine sezione build-for-business */
/* Sezione Table */
#table {
    background: url(/Users/marco/Documents/Corsoboolean/esercizi/html-css-digitalocean/img/table-bg.png);
    background-position: center;
    background-size: contain;

    height: 400px;
}
#table h2,p {
    color: white;
}
#table li {
    
    list-style-type: none;
}
}
#table li p{
    display: inline-block;

}
#table li a {
    float: right;
    color: #00d7d2;
}
@media screen and  (min-width:768px)
{

    #features ul {

        display: block;
        width: 70%;
        margin: 0 auto;
        text-align: left;
        list-style-type: none;
        border-left: 1px solid #5b6987 ;
        border-bottom: 0 ;
    }
    #features li {
        display: list-item;
        color: #5b6987;
        padding: 10px;
    }


#features img {
    display: block;
    margin: 0  ;
    }
}
@media screen and  (min-width:992px)
{
    #navbar-top {
        display: block;
    }

}
/* Sezione features */
