/* Regole generali */
body {
    font-family: "Sailec-Regular","system-ui","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Helvetica","Arial","sans-serif" ;
}
.btn-primary {
    background-color: #006aff;
    color: white;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #006aff;
    color: white;
    font-weight: bold;
}
.btn-secondary {
    background-color: transparent ;
    color: #006aff;
    font-weight: bold;
}
.btn-secondary:hover {
    background-color: #006aff ;
    color: white;
    font-weight: bold;
}

/* Inizio Navbar */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#navbar-top {
    min-height: 40px ;
    display:none;


}
#navbar-top .navbar-header{
    height: 100%;
    line-height: 40px;

}
#navbar-top ul{
    height: 100%;
    line-height: 40px;
    color: #5b6987 ;

}

#navbar-top a {
    height: 100%;
    line-height: 100%;
    color: #5b6987;
}
#navbar-top a:hover {
    color: #006aff;
    text-decoration: none;
}
.btn-custom {
    background-color: rgb(0,215,210);
}
#navbar-bottom {
    height: 70px;

}
#navbar-bottom a {
    height: 100%;
}
.navbar-brand img {
    max-width: 200px;
	height: 70%;
	margin: auto 10px;
}
.navbar-default .navbar-nav > li > a {
    height: 100%;
    line-height: 35px;
    color: hsl(221,93%,16%) ;
}
.navbar-default .navbar-nav > a > span {
    width: 80px;
    height: 80%;
    margin-right: 15px;
    line-height: 35px;
}
 .navbar-default .navbar-nav > li > a:hover{
    color: #006aff ;
    background: none;
}
    /* Fine sezione "navbar"   */

    /* inizio jumbotron */

#jumbotron {
    padding-top: 110px;
    padding-bottom: 40px;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-size: cover;
    background-position: bottom;

}
#jumbotron-welcome-text {
    color: white;
    height: 70%;
    margin: auto;
    padding: 30px;
}


/*  Form sezione "jumbotron" */
#sign-up {
    /* height: 200px; */
    margin-top: 30px;
    border-radius: 5px;
    background: white;
}
#sign-up #sign-up-header {
    height: 40px ;
    background-color: #f3f5f9;
    border-radius: 5px;
}
#sign-up-content {
    padding: 20px;
    border-bottom: 1px solid #f3f5f9;
}
#sign-up .input-group {
    width: 100%;
    margin: 5px;
}
#sign-up .btn-lg {
    width: 100%;
    margin-top: 5px;

}
#sign-up h5 {
    height: 100%;
    line-height: 40px;
    font-size: 20px;
}
#sign-up-footer {
    padding: 20px;
    padding-bottom: 70px;
    width: 100%;
}
#sign-up-footer > .btn.btn-lg {
    width: calc(100% - 52px );
}
#sign-up-footer > span.btn-lg{
    float: left;
    display: block;
    margin: 0;
    border: 1px solid #006aff;
    font-size: 16px;
}
#sign-up-footer > #github-icon {
    float: left;
    display: block;

    width: 52px;
    text-align: center;
    padding: 10px 25px;
    border: 1px solid #006aff;
}
#sign-up-footer > #github-icon > img {
    object-position: center;
    transform: translateX(-50%);
    width: 20px;



}

/* Fine form sezione "jumbotron" */

/* Sezione customers */

    #customers     {
    background-color: #f3f5f9;
    padding: 30px;
}
    #customers img {
    display: block;
    margin: 0 auto;
}
    #customers h6 {
    padding: 20px;
}
    #customers a {
    display: inline-block;
    width: 100%;
    color: #0069ff;
    font-size: 20px;
    padding: 20px;
}
    /* Sezione features */
    #features {
    height: 400px;
}
    #features ul {
    transform: translateY(50%);
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #5b6987 ;
}
    #features p {
    color: #5b6987;
}
    #features li {
    display: inline-block;
    color: #5b6987;
    padding: 10px;
}
    #features .box {
    padding: 20px;
}
    #features img {
    display: block;
    margin: 0 auto;
}
.card {
    padding: 30px;
    text-align: center;
}
/* sezione carousel  */

#carousel {
    padding: 20px;
}
#carousel p {
    padding: 20px;
}
#carousel img {
    display: block;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
#carousel .img-carousel::before {
    content: '\f060' ;
    font-family: "font Awesome 5 Free";
    font: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
#carousel .img-carousel::after {
    content: '\f061' ;
    font-family: "font Awesome 5 Free";
    font: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0%;
}
#carousel ul {
    list-style-type: none;
    text-align: center;
}
#carousel li {
    display: inline-block;
    color: #006aff;
}
#carousel li i:hover {
    background: #006aff;
    border-radius: 50%;
}
}
/* Sezione build-for-business  */
#build-for-business {
    color: black;
}
/* Fine sezione build-for-business */
/* Sezione Table */
#table {
    background: url(/Users/marco/Documents/Corsoboolean/esercizi/html-css-digitalocean/img/table-bg.png);
    background-position: center;
    background-size: contain;


}
#table h2  {
    color: white;
    padding: 20px;
}
#table li {

    list-style-type: none;
    margin-bottom: 1px solid white;
}
#table .row {
    width: 95%;
    padding: 5px;
    border-bottom: 1px solid white;
    margin: auto 0 ;
}

#table .row span {
    color: white;
}
#table .row p{

    color: #5b6987 ;

}
#table li a {
    float: right;
    color: #00d7d2;
}

/* Sezione second carousel */
#quote-carousel {
    padding: 20px;
    background-color: #f3f5f9;
}
#quote-carousel p {
    padding: 20px;
    font-size: 20px;
}
#quote-carousel img {
    display: block;
    width: 40%;
    margin: 0 auto;
    position: relative;
}
#quote {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    background-color: white;
}
#quote > p.text-capitalize {
    margin: 0;
    padding: 5px;
}
#quote-carousel #quote::before {
    content: '\f060' ;
    font-family: "font Awesome 5 Free";
    font: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
#quote-carousel #quote::after {
    content: '\f061' ;
    font-family: "font Awesome 5 Free";
    font: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0%;
}
#quote-carousel ul {
    list-style-type: none;
    text-align: center;
}
#quote-carousel li {
    display: inline-block;
    color: #006aff;
}
#quote-carousel li i:hover {
    background: #006aff;
    border-radius: 50%;
}
#cta {
    background: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
    padding: 20px;
}
#cta .cta-button {
    transform: translateY(50%);
}
#cta h2 {
    color: white;
}
#cta a {
    color: #006aff;
}
/* Fine sezione quote carousel */
@media screen and  (min-width:768px)
{
    /* Sezione jumbotron */
    #jumbotron-welcome-text {
        transform: translateY(25%);
    }
    /* Sezione features */
    #features ul {

        display: block;
        width: 70%;
        margin: 0 auto;
        text-align: left;
        list-style-type: none;
        border-left: 1px solid #5b6987 ;
        border-bottom: 0 ;
    }
    #features li {
        display: list-item;
        color: #5b6987;
        padding: 10px;
    }
    .card {
        padding: 30px;
        text-align: left;
    }

#features img {
    display: block;
    margin: 0  ;
    }
}

@media screen and  (min-width:992px)
{
    #navbar-top {
        display: block;
    }
    #jumbotron-welcome-text {
        transform: translateY(50%);
}
}
/* Sezione features */
