.navbar-brand img {
    height: 100%;
}
.navbar {
    margin-bottom: 0;
}

#navbar-top {
    /* height:50px ; */
    display:none;
}
#navbar-top .navbar-header,ul{
    height: 40px;
}

#navbar-top a {
    /* font-size: 15px ; */
    /* height: 50%; */
    /* line-height: 50px; */
}

@media screen and  (min-width:992px)
{
    #navbar-top {
        display: block;
    }
}
